doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title My site
        block styles
            link(rel="stylesheet", href="styles/main.css", attr)
            
    body
        header 
            h1 This is the header 
        block content
    footer
        p This is the footer 
    block scripts
        script(src="scripts.js")